.temparatureConvertor {
  display: flex;
  gap: 10px;
}

.input-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.temparatureConvertor span {
  align-self: center;
}
.calculated-result {
  border: 2px sollid #bada55;
  padding: 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
