.chart-container{
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px;
    display: flex;
    gap: 10px;
    align-items: baseline;

}
.chart-container .bar{
    flex: 1;
    position: relative;
}
.chart-container .bar:hover span{
    display: inline;
}
.chart-container .bar span{
    position: absolute;
    top: -30px;
    padding: 2px;
    border-radius: 4px;
    background-color: #243132;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1;
}
.chart-container:after{
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    content: 'Number of tickets';

    
}
.chart-container:before{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'Departments';
}
.btn{
    padding: 10px;
    background-color: #564343;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}