.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.cards .each_card{
    background-color: blue;
    height: 200px;
    max-width: calc(33.33% - 20px);
    flex: calc(33.33% - 20px);
}

@media screen and (max-width: 767px) {
    .cards .each_card{
        max-width: 100%;
        flex: 100%;
    }
}