.page ul {
    list-style: none;
    display: flex;
}
.page ul li {
    border: 1px solid red;
    padding: 10px;
}
.page ul li:first-child{
    width: 5%;
}
.page ul li:nth-child(2){
    width: 30%;
}
.page ul li:nth-child(3){
    width: 65%;
}

button{
    padding: 10px;
    margin: 4px;
    border: 0;
}

button.active{
    background-color: red;
    color: #fff;
}